@{
    ViewData["Title"] = "UserProfileWindow";
    string message = ViewBag.message;
    string error = ViewBag.Error;
}
<style>
    * {
        box-sizing: border-box;
    }

    #CreateUserForm {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh; /* Adjust height to vertically center */
    }

    .horizontal-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px; /* Add some space between form fields and image selection */
    }

    .form-section, .image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 200px;
    }

    input {
        margin-bottom: 10px;
        width: 300px;
        padding: 5px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Create User</h1>
</div>



<form action="/Home/ModifyUserWindowtoNewDetails/" method="Get" enctype="multipart/form-data">
    <input type="hidden" name="Username" value="@Model.username" />
    <input type="hidden" name="Password" value="@Model.password" />
    <input type="submit" value="MODIFY">
</form>


<div class="horizontal-layout">
    @model API_Classes.UserDataIntermed // Adjust the namespace as necessary


    @if (@Model.profilePicture != null && @Model.profilePicture.Length > 0)
    {
        var base64Image = Convert.ToBase64String(Model.profilePicture);
        var imgSrc = $"data:image/png;base64,{base64Image}";

        <img src="@imgSrc" alt="Profile Picture" style="max-width: 300px; width: auto; height: auto;" />
    }

    <div class="form-selection">
        <p style="font-size: 50px;">Username: @Model.username</p>
        <p style="font-size: 50px;">Email: @Model.email</p>
        <p style="font-size: 50px;">Address: @Model.address</p>
        <p style="font-size: 50px;">Phone Number: @Model.phoneNum</p>
        <p style="font-size: 50px;">Password: @Model.password</p>
    @if(Model.isAdmin == 0)
    {
        <p>HELLO USER</p>
            <form action="/Home/UserProfileWindow/createAccount" method="post">
                <input type="hidden" name="Username" value="@Model.username" />
                <input type="hidden" name="Password" value="@Model.password" />
                <input type="submit" value="Create Account" />
            </form>


            <form action="/Home/UserProfileWindow/getAccount" method="post">
                <input type="hidden" name="Username" value="@Model.username" />
                <input type="hidden" name="Password" value="@Model.password" />
                <input type="text" id="AccNum" name="accNum" placeholder="Enter Account Number" />
                <input type="submit" value="Retrieve Account" />
            </form>

            <form action="/Home/AuditWindow" method="Get">
                <input type="hidden" name="Username" value="@Model.username" />
                <input type="hidden" name="Password" value="@Model.password" />
                <input type="hidden" name="accNo" value="none" />
                <input type="hidden" name="mode" value="0" />
                <input type="hidden" name="Admin" value="0" />
                <input type="submit" value="Audit Log" />
            </form>
            <form action="/Home/AuditWindow" method="Get">
                <input type="hidden" name="Username" value="@Model.username" />
                <input type="hidden" name="Password" value="@Model.password" />
                <input type="text" id="AccNo" name="accNo" placeholder="Enter Account Number" />
                <input type="hidden" name="mode" value="1" />
                <input type="hidden" name="Admin" value="0" />
                <input type="submit" value="Audit Log" />
            </form>
    }
    else
    {
        <p>HELLO ADMIN</p>
            <form action="/Home/Admin/getallAudit" method="Get">
                <input type="hidden" name="Username" value="@Model.username" />
                <input type="hidden" name="Password" value="@Model.password" />
                <input type="hidden" name="mode" value="0" />
                <input type="hidden" name="Admin" value="1" />
                <input type="submit" value="View All Audit Log" />
            </form>

            <form action="/Home/Admin/getAuditbyName/" method="Get">
                <input type="text" id="Username" name="username" placeholder="Enter Username" />
                <input type="submit" value="View Audit Log via Username" />
            </form>

            <form action="/Home/Admin/getAuditbyAccno/" method="Get">
                <input type="text" id="Accno" name="Accno" placeholder="Enter Accno" />
                <input type="submit" value="View Audit Log via Account number" />
            </form>
    }
        
    </div>
</div>

